@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Corinthia:wght@700&family=Poor+Story&family=Shadows+Into+Light&display=swap');

.title{
    color:aquamarine;
    font-weight: lighter;
    letter-spacing: 2px;
    font-family: "Comic Sans MS";
    text-align: center;
    font-size: 16px;
}
.home{
    font-family: 'Poor Story', cursive;
    font-size: 25px;
}
.fs{
    display: flex;
    justify-content: center;
}
.lyrices{
    font-family: 'Shadows Into Light', cursive;
    color: #003b3d;
    font-size: 20px;
}
td{
    font-family: 'Shadows Into Light', cursive;
    color: #00FF7F;
}
h1{
    font-family: 'Poor Story', cursive;
}
img{
    transform: translateY(-10px);
}
